@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #2a2a2a;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

.header, .footer {
    font-size: 10pt;
    color: #666;
}
